td:has(span.first),
th[data-first="X"] {
    position: sticky;
    z-index: 1;
    left: 0;
    background: #ddd;
}
td:has(span.second),
th[data-second="X"] {
    position: sticky;
    z-index: 1;
    left: 10.5rem;
    background: #ddd;
}
.freezeHeader thead {
    position: sticky;
    top: 0px;
    z-index: 5;
}
